<ul class="nav nav-sidebar">
  <li class="dropdown-header">Matrícula</li>
  <li><a href="#">Adicionar</a></li>
  <li><a href="#">Ver todas</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li class="dropdown-header">Alunos</li>
  <li><a href="#">Adicionar</a></li>
  <li><a href="#">Ver todos</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li class="dropdown-header">Cursos</li>
  <li><a href="#">Adicionar</a></li>
  <li><a href="#">Ver todos</a></li>
</ul>
